@font-face {
  font-family: 'Aeonis';
  src: url('../assets/fonts/AeonisLTPro-BoldCondensed.ttf');
}

@font-face {
  font-family: 'Seedbad';
  src: url('../assets/fonts/SeebadLTStd-Regular.otf');
}

@font-face {
  font-family: 'GuhlyRegular';
  src: url('../assets/fonts/guhly/GUHLY_Regular_reduced.ttf');
}

@font-face {
  font-family: 'SugoPro';
  src: url('../assets/fonts/sugo_pro/Sugo-Pro-Classic-Regular-trial.ttf');
}

#tela1, #tela2, #tela3, #tela4,
#tela5, #tela6, #tela7, #tela8,
#nav, #hamburguer {
  transition: opacity 0.3s;
  opacity: 0;
}

#tela1.escondido, #tela2.escondido, #tela3.escondido, #tela4.escondido,
#tela5.escondido, #tela6.escondido, #tela7.escondido, #tela8.escondido,
#nav.escondido, #hamburguer.escondido, #telaInicial.escondido {
  display: none !important;
}

.w1 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.c{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-col{
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.body.modal-open {
  padding: 0px !important;
}

#telaDeLogin {
  display: none;
  position: fixed;
  z-index: 50000;
  background-color: rgba(43, 45, 67, 0.8);
}

#telaDeLogin>div {
  position: relative;
  background: #2b2d43;
  width: 60%;
  margin: 50px auto;
  height: 80%;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  max-width: 450px;
  min-width: 360px;
}

#hamburguer {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: #23333b;
  border-radius: 50px;
  display: none;
  z-index: 1500;
}

#fechaMenLateral {
  position: fixed;
  top: 10px;
  left: -240px;
  width: 40px;
  height: 40px;
  background-color: #2b2d43;
  border-radius: 50px;
  z-index: 99999999999999999;
  color: white;
  border: 3px solid white;
  transition: 1s;
}

.fa-bars, .fa-times {
  color: white;
  margin: 0 !important;
}

#telaDeLogin>div>div {
  display: flex;
  margin-top: -30px;
}

.pointer{
  cursor: pointer;
}

#fechaLogin {
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  font-size: 30px;
  font-weight: bold;
}

#btnEntrar {
  margin: 0 auto;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  color: white;
  background-color: white;
  display: block;
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 15px;
  color: #2b2d43;
  font-weight: bold;
}

#telaDeLogin svg {
  width: 272px;
  height: 160px;
}

#telaDeLogin label {
  margin-top: 15px;
}

.aeonis {
  font-family: 'Aeonis';
}

.seedbad {
  font-family: 'Seedbad';
}

.guhly {
  font-family: 'GuhlyRegular';
}

.sugopro {
  font-family: 'SugoPro';
}

body {
  margin: 0px;
  font-family: 'MyWebFont';
  max-width: 100vw;
}

main {
  max-width: 100%;
}

.buttonRed {
  background: none;
  border: none;
  font: inherit;
  outline: inherit;
  padding: 10px 50px;
  color: white;
  border-radius: 20px;
  background-color: #ff4b4b;
  margin: 20px 0px 30px 0px;
  width: 60%;
}

.sugo {
  font-family: 'Sugo Pro Classic Trial', sans-serif;
}

#nav {
  position: fixed;
  display: flex;
  background-color: #2b2d43;
  color: white;
  padding: 20px 50px;
  justify-content: space-between;
  z-index: 1000;
  top: 0px;
}

#nav>div {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

#navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

#navLinks>div:nth-of-type(1) {
  margin-left: 50px;
}

#login, #register {
  position: relative;
  font-size: 18px;
  padding: 5px 30px;
  border: 1px solid white;
  border-radius: 23px;
  margin-left: 15px;
  color: white;
  background-color: #2b2d43;
}

#login:hover, #register:hover {
  color: #2b2d43;
  background-color: white;
}

.tracinho {
  height: 18px;
  color: white;
  border-left: 2px solid white;
  margin: 0px 25px;
}

#nav svg {
  width: 136px;
  height: 80px;
  margin-bottom: -24px;
}
