#tela1 {
  width: 100%;
  background-image: url('../assets/img-00.png');
  background-size: cover;
}

#tela1>div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  width: 40%;
  max-width: 500px;
}

#tela1>div>div>p {
  color: #23333b;
}

#tela1>div>div>p:nth-of-type(1) {
  font-size: 4rem;
  margin-bottom: 0px;
  margin-top: 50px;
}

#tela1 .aeonis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:992px) {
  #tela1>div {
    width: 50%;
  }
  #tela1>div {
    max-width: 500px;
  }
}
