#tela3 {
  background-image: url('../assets/img-01.png');
  background-size: 100vw 62.5vw;
  background-repeat: no-repeat;
}

#tela3>div {
  display: flex;
}

#tela3>div>div:nth-of-type(1) {
  width: 50%;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
}

#tela3>div>div:nth-of-type(1)>* {
  margin-left: 50px;
}

#tela3>div>div:nth-of-type(1)>p {
  font-size: 2rem;
}

#tela3>div>div:nth-of-type(2) {
  width: 50%;
  background-color: transparent;
  color: white;
  opacity: 0.80;
}

#tela3>div>div:nth-of-type(2)>div:nth-of-type(1) {
  background-color: #5c9dad;
  color: white;
  padding: 25px 0px;
}

#tela3>div>div:nth-of-type(2)>div:nth-of-type(1)>span {
  width: 80%;
}

#tela3 li::marker {
  color: #a23e47;
}

#tela3>div>div:nth-of-type(2)>div:nth-of-type(2) {
  height: 68%;
  background-color: #2b2d43;
}

#tela3>div>div:nth-of-type(2)>div:nth-of-type(2)>div {
  width: 80%;
  padding: 25px 0px;
}

#tela3>div>div:nth-of-type(2)>div:nth-of-type(2)>div>.sugo {
  font-size: 3rem;
}

#tela3>div>div:nth-of-type(2)>div:nth-of-type(2)>div>div {
  display: flex;
}

#tela3>div>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

#tela3>div>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div:nth-of-type(1) {
  color: #f94a4a;
}

#tela3>div>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div:nth-of-type(2)>span {
  margin-bottom: 10px;
}

.roxo {
  background-color: #2b2d43;
  padding: 1px;
}
