#tela6 {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  position: relative;
}

#tela6>img {
  position: absolute;
  bottom: calc(-112px);
  left: calc(50% - 195px);
}

#tela6>div {
  width: 50%;
}

#tela6>div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 50px;
}

#tela6>div>p {
  margin-bottom: 0px;
}

#tela6>div:nth-of-type(1) {
  background-color: #2b2d43;
  color: #5c9ead;
}

#tela6>div:nth-of-type(2) {
  background-color: #8c98ae;
  color: white;
}

@media (max-width:992px) {
  #tela6>div {
    padding: 7  0px;
  }
}

@media (max-width:768px) {
  #tela6>div {
    width: 100%;
  }

  #tela6 {
    flex-direction: column;
  }

  #tela6>img {
    display: none;
  }
}
