#telaInicial {
  width: 100%;
  background-color: #5c9dad;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img-03.png);
  background-size: 29% auto;
  background-repeat: no-repeat;
  background-position: 20% 65%;
  padding-top: 210px;
  padding-bottom: 120px;
}

#telaInicial svg {
  width: 600px;
  height: 340px;
}

#caixaCentral {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#caixaCentral .aeonis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 75%;
  margin-top: -80px;
}

#caixaCentral .aeonis>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#caixaCentral .aeonis>div>img {
  margin-bottom: 20px
}

@media (max-width:1200px) {
  #telaInicial {
    background-size: 35% auto;
  }
}

@media (max-width:992px) {
  #telaInicial {
    background-size: 40% auto;
  }
}

@media (max-width:576px) {
  #telaInicial {
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: 50% auto;
    background-position: 20% 20%;
  }


  #telaInicial svg {
    max-width: 100%;
  }
}
