#telaInicial {
  width: 100%;
  background-color: #5c9dad;
  background-image: url(../assets/img-03.png);
  background-size: 29% auto;
  background-repeat: no-repeat;
  background-position: 20% 65%;
  padding-top: 120px;
  padding-bottom: 120px;
  height: 100vh;
}

#telaInicial svg {
  width: 600px;
  height: 340px;
}

#caixaCentral {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#caixaCentral .aeonis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 75%;
  margin-top: -80px;
}

#caixaCentral .aeonis>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid transparent;
  padding: 10px 20px;
}

#caixaCentral .aeonis>div:hover {
  border: 2px solid white;
  border-radius: 5px;
}

#caixaCentral .aeonis>div>img {
  margin-bottom: 20px
}
